<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
<meta charset="utf-8">
<title>Products - Softy Bakery</title>
<th:block th:insert="~{layout :: css-link}"></th:block>
<style>



</style>
</head>
<body ng-app="app" ng-controller="OrderController">
	<div th:insert="~{layout :: spinner}"></div>
	<div th:insert="~{layout :: topbar}"></div>
	<div th:insert="~{layout :: navbar}"></div>
	<!-- Page Header Start -->
	<div class="container-fluid page-header py-6 wow fadeIn"
		data-wow-delay="0.1s">
		<div class="container text-center pt-5 pb-3">
			<h1 class="display-4 text-white animated slideInDown mb-3">Order</h1>
			<nav aria-label="breadcrumb animated slideInDown">
				<ol class="breadcrumb justify-content-center mb-0">
					<li class="breadcrumb-item"><a class="text-white" href="#">Home</a>
					</li>
					<li class="breadcrumb-item"><a class="text-white" href="#">Shopping Cart</a>
					</li>
					<li class="breadcrumb-item text-primary active" aria-current="page">Order</li>
				</ol>
			</nav>
		</div>
	</div>
	<!-- Page Header End -->

	<!-- Order Start -->

		<div class="container">
			<h1 style="width: 100%; text-align: center; padding:10px;" class="bg-success text-white bg-suc">Đặt
				hàng thành công</h1>
			<br/>
			<div class="order-success-background">
			
			
			</div>
			<br/>
			<div class="row">
				<div class="col">
					<h4 class="mb-3">Thông tin khách hàng</h4>
					<br />
					<div class="row">
						<div class="col">
							<strong style="text-align: right;">
								<p>Tên người nhận:</p>
								<p>Số điện thoại:</p>
								<p>Địa chỉ:</p>
								<p>Phương thức thanh toán:</p>
							</strong>
						</div>
						<div class="col">
							<p th:text="${user.fullName}"></p>
							<p th:text="${user.phoneNumber}"></p>
							<p th:text="${user.addressDetail}+' ,'+${user.address}"></p>
							<p>Thanh toán khi nhận hàng</p>
						</div>
					</div>
				</div>
				<div class="col">
					<h4 class="mb-3">Thông tin đơn hàng</h4>
					<br />
					<div class="row">
						<div class="col">
							<strong style="text-align: right;">
								<p>Mã đơn hàng:</p>
								<p>Tổng đơn giá:</p>
								<p>Địa chỉ giao hàng:</p>
								<p>Trạng thái:</p>
							</strong>
						</div>
						<div class="col">
							<p th:text="${o.orderId}"></p>
							<p th:text="${#numbers.formatDecimal(o.totalAmount, 0, 'COMMA', 0, 'POINT')+' ₫'}"></p>
							<p th:text="${o.address}"></p>
							<p th:text="${o.status}"></p>
						</div>
					</div>
				</div>

			</div>
			<div class="row" style="margin-top:20px;">
				<p>Đơn hàng sẽ được giao đến trong vòng 1 - 3 giờ tới, vui lòng chú ý điện thoại. Theo dõi tình trạng đơn hàng của bạn <a href="#">Tại đây</a>.</p>
			</div>
			<a class="btn btn-secondary fw-bold btn-lg btn-block my-5 w-100" type="submit" href="/home">
				< Tiếp tục mua sắm</a>
		</div>

	<!-- Order End -->

	<div th:insert="~{layout :: footer}"></div>
	<div th:insert="~{layout :: copyright}"></div>
	<div th:insert="~{layout :: backtotop}"></div>
	<div th:insert="~{layout :: js-link}"></div>

</body>
</html>