<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" lang="vi">

<head>
	<meta charset="utf-8">
	<title>Products - Softy Bakery</title>
	<th:block th:insert="~{layout :: css-link}"></th:block>
</head>

<body ng-app="app" ng-controller="ProductController">
	<div th:insert="~{layout :: spinner}"></div>
	<div th:insert="~{layout :: topbar}"></div>
	<div th:insert="~{layout :: navbarProduct}"></div>
	<!-- Page Header Start -->
	<div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s">
		<div class="container text-center pt-5 pb-3">
			<h1 class="display-4 text-white animated slideInDown mb-3">Products</h1>
			<nav aria-label="breadcrumb animated slideInDown">
				<ol class="breadcrumb justify-content-center mb-0">
					<li class="breadcrumb-item"><a class="text-white" href="#">Home</a>
					</li>
					<li class="breadcrumb-item"><a class="text-white" href="#">Pages</a>
					</li>
					<li class="breadcrumb-item text-primary active" aria-current="page">Products</li>
				</ol>
			</nav>
		</div>
	</div>
	<!-- Page Header End -->
	<!-- Product Start -->
	<div class="container-fluid bg-light my-6 py-6 pt-0" style="margin: 12rem 0;">
		<div class="container-fluid">
			<div class="bg-primary text-light rounded-bottom p-5 my-6 mt-0 wow fadeInUp" data-wow-delay="0.1s">
				<div class="row g-4 align-items-center">
					<div class="col-lg-6">
						<h1 class="display-4 text-light mb-0">
							The Best Bakery In Your City
						</h1>
					</div>
					<div class="col-lg-6 text-lg-end">
						<div class="d-inline-flex align-items-center text-start">
							<i class="fa fa-phone-alt fa-4x flex-shrink-0"></i>
							<div class="ms-4">
								<p class="fs-5 fw-bold mb-0">Call Us</p>
								<p class="fs-1 fw-bold mb-0">+84 869945854</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
				<p class="text-primary text-uppercase mb-2">// Bakery Products</p>
				<h1 class="display-6 mb-4">Explore The Categories Of Our Bakery
					Products</h1>
			</div>
			<br />
			<hr />
			<br />
			<div class="row g-4">
				<div class="col text-center justify-content-md-center">
					<button class="btn btn-primary rounded-pill py-3 px-5" ng-click="setCategory(0)" style="margin:15px;">
						Tất cả
					</button>
					<button class="btn btn-primary rounded-pill py-3 px-5" ng-repeat="c in category"
						ng-click="setCategory(c.categoryId)" style="margin:15px;">
						<span>{{c.categoryName}}</span>
					</button>
				</div>
			</div>
			<br />
			<hr />
			<br />
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-3 wow fadeInUp" data-wow-delay="0.5s" ng-repeat="p in products">
						<div class="product-item d-flex flex-column bg-white rounded">
							<div class="text-center p-4">
								<div class="d-inline-block border border-primary rounded-pill pt-1 px-3 mb-3">{{p.price
									| vndCurrency}}</div>
								<h4 class="mb-3 text-truncate">{{p.productName}}</h4>
								<p class="mb-3 text-truncate">{{p.description}}</p>
							</div>
							<div class="position-relative mt-auto">
								<img ng-src="/images/{{p.imageUrl}}" class="square-image align-items-start">
								<div class="product-overlay">
									<a class="btn btn-lg-square btn-outline-light rounded-circle"
										href="/product/detail/{{p.productId}}" ng-click="setSelectedProductId()">
										<i class="fa fa-eye text-primary"></i>
									</a>

									<span>
										<button class="btn btn-lg-square btn-outline-light rounded-circle"
											ng-click="modifyCart(p.productId, 'add')">
											<i class="fa fa-cart-plus"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-12 text-center">
						<div class="mt-5 pt-5">
							<button class="btn btn-primary rounded-pill py-3 px-5 text-center" style="width: 150px;"
								ng-click="loadPage(pageNum - 1)" ng-disabled="disablePrev()">Previous</button>
							<span class="py-3 px-5 text-center">{{pageNum+1 + ' / ' +totalPages}}</span>
							<button class="btn btn-primary rounded-pill py-3 px-5 text-center" style="width: 150px;"
								ng-click="loadPage(pageNum + 1)" ng-disabled="disableNext()">Next</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Product End -->
	<div th:insert="~{layout :: footer}"></div>
	<div th:insert="~{layout :: copyright}"></div>
	<div th:insert="~{layout :: backtotop}"></div>
	<div th:insert="~{layout :: js-link}"></div>

</body>

</html>