<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="utf-8" />
    <title>Softy Bakery</title>
    <th:block th:insert="~{layout :: css-link}"></th:block>
  </head>

  <body ng-app="app" ng-controller="ProductController">
    <div th:insert="~{layout :: navbarProduct}"></div>
    <div style="height: 150px"></div>
    <p>
      <strong>BÁNH KEM SỮA TƯƠI</strong><br />
      Bánh kem sữa tươi Givral được làm từ nguyên liệu chính là kem sữa tươi
      nguyên chất, bánh bông lan. Các loại kem sữa tươi có thể kết hợp thêm
      chocolate hoặc cà phê để tạo ra những hương vị đặc trưng.&nbsp;
    </p>

    <p>
      <strong>BÁNH KEM BƠ</strong><br />
      Bánh kem bơ Givral được làm từ nguyên liệu chính là kem bơ thơm béo, bánh
      bông lan. Các loại kem bơ có thể kết hợp thêm chocolate hoặc cà phê để tạo
      ra những hương vị đặc trưng.&nbsp;
    </p>

    <ul>
      <li>Bột mì số 8</li>
      <li>Kem béo</li>
      <li>Whisping Cream</li>
      <li>Chocolate nguyên chất</li>
      <li>Nước lọc</li>
    </ul>

    <div class="col-6" style="margin-left: 50px">
      <p><strong>Bánh mì Ốp la tại Softy Bakery:</strong></p>
      <span
        >Tại Softy Bakery, bánh mì ốp la không chỉ là một món ăn sáng mà còn là
        một trải nghiệm thú vị của hương vị và chất lượng. <br />Mỗi bánh mì ốp
        la tại đây là một tuyệt tác của sự kết hợp tinh tế giữa vị giòn của bánh
        mì và trứng mềm mịn, tạo nên một bữa sáng độc đáo và ngon miệng.<br />

        Bánh mì tại Softy Bakery không chỉ đơn giản là một ổ bánh mì thông
        thường. Được làm thủ công với tâm huyết và sự tỉ mỉ, từng lát bánh mì có
        vị thơm và vị giòn đặc trưng. Khi cắt mở chiếc bánh mì, bạn sẽ phát hiện
        ruột mềm mịn đang chờ đợi để ""ốp"" cùng trứng và các loại gia vị hấp
        dẫn.<br />

        Các loại trứng tại Softy Bakery luôn tươi ngon và được chế biến kỹ
        lưỡng, cho phép bạn tận hưởng trứng mắc căn, trứng chiên hoặc trứng lòng
        đào đầy hương vị. Bên cạnh đó, chả lụa mỏng, hành tím tươi, ớt xanh và
        ớt đỏ tạo nên lớp lớp hương vị đa dạng và thú vị. Các loại gia vị này
        được kết hợp với sốt cà chua thơm ngon hoặc sốt ớt tạo nên bát ốp la
        hoàn hảo.<br />

        Tại Softy Bakery, bánh mì ốp la không chỉ là một món ăn, mà còn là một
        cảm xúc, một trải nghiệm đáng nhớ về ẩm thực. Bạn có thể cảm nhận sự
        chăm sóc và sự độc đáo trong từng chi tiết, và chắc chắn rằng mỗi ngụm
        sẽ đưa bạn vào một thế giới thú vị của hương vị và sự sáng tạo.<br />
      </span>
    </div>

    <h1 ng-bind="address.path_with_type"></h1>
    <div th:insert="~{layout :: footer}"></div>
    <div th:insert="~{layout :: copyright}"></div>
    <div th:insert="~{layout :: backtotop}"></div>
    <div th:insert="~{layout :: js-link}"></div>
  </body>
</html>
