<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="utf-8" />
    <title>Softy Bakery</title>
    <th:block th:insert="~{layout :: css-link}"></th:block>
  </head>

  <body ng-app="app" ng-controller="ProductController">
    <div th:insert="~{layout :: navbarProduct}"></div>
    <div style="height: 150px"></div>

    <h1 ng-bind="address.path_with_type"></h1>
    <div th:insert="~{layout :: footer}"></div>
    <div th:insert="~{layout :: copyright}"></div>
    <div th:insert="~{layout :: backtotop}"></div>
    <div th:insert="~{layout :: js-link}"></div>
  </body>
</html>
